body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.wrapper{
    max-width: 1004px;
    margin: 0 auto;
}

/* === Header Section ===*/

.main-header{
    max-width: 1004px;
    height: 486px;
    background: url("../img/header-background.jpg") center no-repeat;
    padding-top: 1px;
}

.logo{
    width: 67px;
    height: 64px;
    margin: 86px auto 40px;
}

.name{
    color: white;
    text-align: center;
}

.salmon{
    color: yellow;
}

.btn-social{
    margin-top: 40px;
    text-align: center;
}

.btn-social a{
    display: inline-block;
    vertical-align: middle;
    border: white solid 1px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: white;
}

.btn-social a i{
    line-height: 40px;
}

.btn-social a:hover{
    background-color: yellow;
    border-color: yellow;
}

.btn-social a:hover i{
    color: black;
}

/* === End Header Section === */
/* ========================== */

/* === Content Section === */

.about{
    padding-top: 60px;
    height: 277px;
    background: url("../img/sfera.gif") center no-repeat;
//    outline: red solid 1px;
    text-align: center;
}

.header-underline{
    display: inline-block;
    border-bottom: gray solid 2px;
    padding: 10px;
}
.about p{
    max-width: 600px;
    margin: 0 auto;
    font-size: large;
}

/* === End Content Section === */
/* ========================== */

/* === Service Section === */

.service{
    height: 734px;
    outline: blue solid 1px;
    padding-top: 1px;
    position: relative;
}

/* === End Service Section === */
/* ========================== */

/* === Contacts Section === */

.contacts{
    text-align: center;
    background-color: #F1F1F1;
}

.card{
    display: inline-block;
    vertical-align: top;
    width: 240px;
    height: 120px;
    margin: 20px 40px;
    color: #414141;

}

.card a{
    display: inline-block;
    vertical-align: middle;
//    border: green solid 1px;
    width: 60px;
    height: 52px;
    margin: -45px 10px 20px 10px;
    color: white;
    background: url("../img/contacts-hexagon.png") left no-repeat;
}

.card a:hover{
    background: url("../img/contacts-hexagon.png") right no-repeat;
    color: #414141;
}

.card a i{
    line-height: 52px;
}