body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.clearfix:after{
    content:'';
    clear:both;
    display:table;
}

.wrapper{
    max-width: 1004px;
    margin: 0 auto;
}

/* === Header Section ===*/

.main-header{
    max-width: 1004px;
    height: 486px;
    background: url("../img/header-background.jpg") center no-repeat;
    padding-top: 1px;
}

.logo{
    width: 67px;
    height: 64px;
    margin: 86px auto 40px;
}

.name{
    color: white;
    text-align: center;
}

.salmon{
    color: yellow;
}

.btn-social{
    margin-top: 40px;
    text-align: center;
}

.btn-social a{
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 40px;
    margin: 0 10px;
    color: white;
    background: url("../img/header-hexagon.png") left no-repeat;
}

.btn-social a i{
    line-height: 40px;
}

.btn-social a:hover{
    background: url("../img/header-hexagon.png") right no-repeat;
}

.btn-social a:hover i{
    color: black;
}

/* === End Header Section === */
/* ========================== */

/* === Content Section === */

.about{
    padding-top: 60px;
    height: 277px;
    background: url("../img/sfera.gif") center no-repeat;
//    outline: red solid 1px;
    text-align: center;
}

.header-underline{
    display: inline-block;
    border-bottom: gray solid 2px;
    padding: 10px;
}
.about p{
    max-width: 600px;
    margin: 0 auto;
    font-size: large;
}

/* === End Content Section === */
/* ========================== */

/* === Service Section === */



/* === End Service Section === */
/* ========================== */

/* === Contacts Section === */

.contacts{
    text-align: center;
    background-color: #F1F1F1;
}

.card{
    display: inline-block;
    vertical-align: top;
    width: 240px;
    height: 120px;
    margin: 20px 40px;
    color: #414141;

}

.card a{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 52px;
    margin: -45px 10px 20px 10px;
    color: white;
    background: url("../img/contacts-hexagon.png") left no-repeat;
}

.card a:hover{
    background: url("../img/contacts-hexagon.png") right no-repeat;
    color: #414141;
}

.card a i{
    line-height: 52px;
}

.map{
    width: 100%;
}

/* === End Contacts Section === */
/* ========================== */

/* === Footer Section === */

.main-footer{
    background-color: #414141;
    color: white;
}

.main-footer .col{
    min-height: 100px;
    float: left;
    width: 60%;
    margin-right: 5px;
    text-align: right;
}

.main-footer .col:last-child{
//    margin-right: 0;
    float: right;
    width: 35%;
//    text-align: right;
}

.footer-logo{
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin: 15px;
}

.copy{
    font-size: small;
    margin: 30px;
}
