.service{
    padding-top: 1px;
    position: relative;
    height: 681px;
    background: url("../img/services-hexagon.png") 50% 0 no-repeat;
}

.service h3{
    margin: 0;
}

.t-box{
    color: white;
//    outline: red solid 1px;
    width: 180px;
    height: 200px;
    position: absolute;
    text-align: center;
}

.work-text{
    left: 50%;
    top: 85px;
    margin-left: -90px;
}

.place-text{
    left: 50%;
    top: 348px;
    margin-left: -90px;
}

.analyze-text{
    left: 50%;
    top: 218px;
    margin-left: -318px;
}

.plan-text{
    left: 50%;
    top: 218px;
    margin-left: 138px;
}

@media screen and (max-width: 768px){
    /* Изменяем секцию Service */
    .service{
        background: url("../img/service-background.png") 50% 0 no-repeat;
        background-size: cover;
        height: auto;
    }

    .service .header-underline{
        padding-left: 0;
    }

    .work-text .header-underline{
        border-bottom: yellow solid 2px;
        padding: 10px;
    }

    .t-box{
        position: static;
        margin: 0;
        color: white;
        width: auto;
        height: 120px;
        text-align: left;
        padding-left: 20px;
    }

    .text-padding{
        padding-right: 20%;
    }

    .work-text{
        background-color: #282828;
        text-align: center;
    }

    .analyze-text{
        background-color: rgba(12, 54, 46, 0.9);
    }

    .plan-text{
        background-color: rgba(61, 67, 73, 0.9);
    }

    .place-text{
        background-color: rgba(54, 67, 82, 0.9);
    }

    /* Изменяем секцию Contacts */

}
