.service{
    padding-top: 1px;
    position: relative;
    height: 681px;
    background: url("../img/services-hexagon.png") 50% 0 no-repeat;
}

.service h3{
    margin: 0;
}

.t-box{
    color: white;
//    outline: red solid 1px;
    width: 180px;
    height: 200px;
    position: absolute;
    text-align: center;
}

.work-text{
    left: 50%;
    top: 85px;
    margin-left: -90px;
}

.place-text{
    left: 50%;
    top: 348px;
    margin-left: -90px;
}

.analyze-text{
    left: 50%;
    top: 218px;
    margin-left: -318px;
}

.plan-text{
    left: 50%;
    top: 218px;
    margin-left: 138px;
}

@media screen and (max-width: 768px){
    .service{
        background: none;
        height: auto;
    }

    .t-box{
        position: static;
        margin: 0;
        color: white;
        width: auto;
        height: 110px;
    }

    .work-text{
        background-color: #282828;
    }

    .analyze-text{
        background-color: #0C362E;
    }

    .plan-text{
        background-color: #3D4349;
    }

    .place-text{
        background-color: #364352;
    }
}
