.service{
    position: relative;
    min-height: 681px;
    background: url("../img/services-hexagon.png") 50% 0 no-repeat;
}

.t-box{
    color: white;
//    outline: red solid 1px;
    width: 180px;
    height: 200px;
    position: absolute;
    text-align: center;
}

.work-text{
    left: 50%;
    top: 85px;
    margin-left: -90px;
}

.place-text{
    left: 50%;
    top: 348px;
    margin-left: -90px;
}

.analyze-text{
    left: 50%;
    top: 218px;
    margin-left: -318px;
}

.plan-text{
    left: 50%;
    top: 218px;
    margin-left: 138px;
}
